<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Example 2
    body
        .container.mt-2.text-center
            .row.bdtitle.justify-content-center
                h1 Example 2 (Classes and Interfaces)
            .row.bdbody.justify-content-center.p-2
                h2 Classes elements
            .row.bdbody.justify-content-center.p-2
                h3.col(id="person1")
            .row.bdbody.justify-content-center.p-2
                h3.col(id="person2")
            .row.justify-content-center
                button.btn.btn-primary.col(id="c_btn") Show classes
            .row.bdbody.justify-content-center.p-2
                h2 Object element by interface
            .row.bdbody.justify-content-center.p-2
                h3.col-3(id="name")
                h3.col-3(id="age")
                h3.col-3(id="hobbies")
            .row.justify-content-center
                button.btn.btn-primary.col(id="i_btn") Show object
        script(src="js/example2.js")
