<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Example 1
    body
        .container.mt-2.text-center
            .row.bdtitle.justify-content-center
                h1 Example 1 (Data Types)
            .row.bdbody.justify-content-center.p-2
                label.col-2(for="n1")
                    b Number 1:
                input.col-4.form-control(type="number", name="n1", id="n1" placeholder="Type a number...")
            .row.bdbody.justify-content-center.p-2
                label.col-2(for="n2")
                    b Number 2:
                input.col-4.form-control(type="number", name="n2", id="n2" placeholder="Type another number...")
            .row.justify-content-center
                button.btn.btn-primary.col(id="btn" click="add()") Add
            .row.justify-content-center.p-2
                .col
                    span(id="result")
        script(src="js/example1.js")
